@import './variables';
@import './fonts.scss';
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import './custom.scss';

body{
  overscroll-behavior: none;
}

#app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  height: 100%;
}

main {
  flex-grow: 1;
}